# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_SKYTOUCHER_LEFT
    def_bool $(shields_list_contains,skytoucher_left)

config SHIELD_SKYTOUCHER_RIGHT
    def_bool $(shields_list_contains,skytoucher_right)