# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_SKYTOUCHER_LEFT

config ZMK_KEYBOARD_NAME
    default "Skytoucher"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SKYTOUCHER_LEFT || SHIELD_SKYTOUCHER_RIGHT
config ZMK_SPLIT
    default y
endif
